absl-py==0.15.0
aiohttp==3.8.1
aiosignal==1.2.0
anytree==2.8.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
beautifulsoup4==4.11.1
bert-score==0.3.11
bpemb==0.3.3
brotlipy==0.7.0
cachetools==5.2.0
certifi @ file:///opt/conda/conda-bld/certifi_1655968806487/work/certifi
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.0.4
cloudpickle==2.1.0
conllu==4.5.2
cryptography @ file:///tmp/build/80754af9/cryptography_1652083738073/work
cycler==0.11.0
datasets==1.15.0
Deprecated==1.2.13
dill==0.3.5.1
docopt==0.6.2
editdistance==0.6.0
filelock==3.7.1
flair==0.11.3
flatbuffers==1.12
fonttools==4.34.4
frozenlist==1.3.0
fsspec==2022.7.1
ftfy==6.1.1
future==0.18.2
gast==0.4.0
gdown==4.4.0
gensim==4.2.0
google-auth==2.9.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
huggingface-hub==0.0.19
hyperopt==0.2.7
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-metadata==3.10.1
Janome==0.4.2
jieba==0.42.1
joblib==1.1.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
konoha==4.6.5
langdetect==1.0.9
language-tool-python==2.7.1
lemminflect==0.2.2
lru-dict==1.1.8
lxml==4.9.1
Markdown==3.3.5
MarkupSafe==2.1.1
matplotlib==3.5.2
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
more-itertools==8.13.0
mpld3==0.3
multidict==6.0.2
multiprocess==0.70.13
networkx==2.8.5
nltk==3.7
num2words==0.5.11
numpy==1.19.5
oauthlib==3.2.0
OpenHowNet==2.0
opt-einsum==3.3.0
overrides==3.1.0
packaging==21.3
pandas==1.1.3
Pillow==9.2.0
pinyin==0.4.0
pptree==3.1
protobuf==3.19.4
py4j==0.10.9.5
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycld2==0.41
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
regex==2022.7.25
requests @ file:///opt/conda/conda-bld/requests_1657734628632/work
requests-oauthlib==1.3.1
responses==0.18.0
rsa==4.9
sacremoses==0.0.53
scikit-learn==1.1.1
scipy==1.9.0
segtok==1.5.11
sentencepiece==0.1.95
six==1.15.0
smart-open==6.0.0
soupsieve==2.3.2.post1
sqlitedict==2.0.0
tabulate==0.8.10
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
tensorflow==2.5.0
tensorflow-estimator==2.5.0
tensorflow-hub==0.12.0
tensorflow-text==2.5.0
termcolor==1.1.0
terminaltables==3.1.10
textattack==0.3.5
threadpoolctl==3.1.0
tokenizers==0.10.3
torch==1.12.0
torchaudio==0.12.0
torchvision==0.13.0
tqdm==4.64.0
transformers==4.12.2
typing-extensions==3.7.4.3
urllib3 @ file:///tmp/abs_5dhwnz6atv/croots/recipe/urllib3_1659110457909/work
wcwidth==0.2.5
Werkzeug==2.2.1
Wikipedia-API==0.5.4
word2number==1.1
wrapt==1.12.1
xgboost==1.5.0
xlrd==2.0.1
xxhash==3.0.0
yarl==1.8.1
zipp==3.8.1
